<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navbar-custom-settings">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Task App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a 
            class="nav-link active" 
            aria-current="page" 
            href="#"
            routerLink="/task-app">
              Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/task-app/employers/employers">
            Employers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/task-app/tasks/tasks">
            Tasks
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div 
  class="container marketing">
  <!-- Three columns of text below the carousel -->
    <div 
      class="row">
        <div 
          class="col-6">
          <img
          class="rounded-circle"
          src="../../../assets/images/employer-branding.png"
          alt="Employer image">
            <h2 
              class="fw-normal">
                Employers
            </h2>
            <p>
                Manage assigned tasks, add or edit an employer.
            </p>
            <p>
              <a
                class="btn btn-secondary" 
                href="#"
                routerLink="/task-app/employers/employers">
                  View details &raquo;
              </a>
            </p>
    </div><!-- /.col-lg-4 -->
    <div 
      class="col-6">
        <img
          class="rounded-circle"
          src="../../../assets/images/depositphotos_26153347-stock-photo-to-do-list-tasks-clipboard.jpg"
          alt="Employer image">
        <h2 
          class="fw-normal">
            Tasks
        </h2>
        <p>
          Manage, add or edit tasks.
        </p>
        <p>
          <a 
            class="btn btn-secondary" 
            href="#"
            routerLink="/task-app/tasks/tasks">
              View details &raquo;
          </a>
        </p>
    </div><!-- /.col-lg-4 -->
</div>
  <router-outlet></router-outlet>
